<h2>OAuth Authorization</h2>

<p>The client you are attempting to use has been blocked.</p>

<p>This is most likely due to security problems with the client.  You should consider uninstalling this client and using a different one.</p>
